<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skyzone18.ParasharVidyaSankul">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyArx1MNgmVlmlajotC7ASk8SCNVPdbU0KQ" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Activity.SlashActvity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ContactActivity"
            android:label="@string/contact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AboutActivity"
            android:label="@string/app_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AcademicActivity"
            android:label="@string/app_academics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ActvitiesActivity"
            android:label="@string/app_actvitices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FacilityActivity"
            android:label="@string/app_faci"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AdmissionActivity"
            android:label="@string/app_admission"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AimActivity"
            android:label="@string/app_aim"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MangementActivity"
            android:label="@string/app_man"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StudentLoginActivity"
            android:label="@string/app_student"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.ShowPhotodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.VideoyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.ShowVideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".JsonActivity.NoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.TodayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.StaffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.DownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.MediumstdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.HomeWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.HomeDetailActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.StudentResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.StanderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.TimeTableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.CalanderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JsonActivity.TimeTableStdActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>